
.DS_Store
build
.git
*.egg-info
dist
output/
data/*
config/torso25.data
config/yoeo-torso25.cfg
config/torso_combined.data
config/yoeo-torso_combined.cfg
backup
weights/
__pycache__
checkpoints/

.vscode/
logs/

.python-version

*.onnx
*.pth
**/tuning_records.json
